@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    min-height:100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: rgb(255, 191, 72);
}
.container{
    display: grid;
    width: min-content;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
    border: 1px solid black;
    background-color: black;
}
.container>div{
    background-color: white;
    font-size:9rem;
    display: grid;
    align-content: center;
    cursor: pointer;
    justify-content: center;
    color: rgba(0,0,0,0.8)
}
.container>div:hover{
    transform: scale(1.05);
    transition: 150ms ease-in-out;
}
.winner{
    border:8px solid rgb(50, 230, 50);
    transform: scale(1.05);
    transition: 150ms ease-in-out;
}